ion-content {
    --background: transparent;
  }
  #player{
    margin: 2em 1em;
    height: 250px;
    border: 1px solid black;
  }
  .backgroud{
    background-color: #FFFFFF;
    z-index: 1000;
  }
  p{
    margin: 0 !important;
  }